<div class="container">
  <% if @notifications.present? %>
    <%= button_to "すべて既読にする", read_all_user_notifications_path(current_user.id), class: "btn btn-primary", method: :patch %>
    <% @notifications.each do |notification| %>
      <%= link_to read_user_notification_path(current_user.id, notification), class: "text-dark", method: :patch do %>
        <div class="border-bottom text-decoration-none <%= 'bg-light text-secondary' if notification.read? %>">
          <%= render "#{notification.action}", notification: notification %>
        </div>
      <% end %>
    <% end %>
    <%= paginate @notifications %>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>
