<div class="container-xl">
  <span class="col-11 mx-auto"><%= render 'users/shared/flash_message' %></span>
  <!--ユーザーの判定-->
  <% if params[:id] == current_user.id.to_s %>

    <!--マイページ-->
    <div class="mt-4 row mx-0 bg-light border-primary rounded p-4 shadow col-lg-11 mx-auto">
      <div>
        <%= image_tag @user.get_profile_image(150, 150), class: "mr-3 rounded-circle" %>
      </div>
      <div class="col-lg-2 col-md-3 col-6">
        <h5 class=""><%= @user.name %> さん</h5>
        <div class="p-3 mt-4 border rounded-sm bg-white">
          性別：<%= @user.gender_i18n %><br>
          年齢：<%= (Date.today.strftime('%Y%m%d').to_i - @user.birthday.strftime('%Y%m%d').to_i) / 10000 %>歳<br>
          地域：<%= @user.prefecture_i18n %>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 col-12 ml-lg-3">
        <div class="border rounded-lg p-4 bg-white mt-4 mt-lg-0 text-break">
          <%= @user.introduction %> <% unless @user.name == 'ゲスト' %>（<a href="#" data-toggle="modal" data-target="#introModal">編集</a>）<% end %>
        </div>
        <div class="row justify-content-around  align-items-center mt-4">
          <div>
            <div class="pl-3">
              <a href="#" data-toggle="modal" data-target="#exampleModal", class="text-center">
                フォロー: <%= @user.followings.count %>
              </a>
            </div>
            <div class="pl-3">
              <a href="#" data-toggle="modal" data-target="#exampleModal2", class="follow_count">
                フォロワー: <%= @user.followers.count %>
              </a>
            </div>
          </div>
            <!-- 自己紹介モーダル -->
            <div class="modal" id="introModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">自己紹介文の編集</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= form_with model: @user, url: user_path(@user.id) do |f| %>
                      <%= f.text_area :introduction, class: "form-control" %>
                      <%= f.submit "変更", class: "btn btn-primary mt-3" %>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- フォローモーダル -->
            <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">フォローリスト</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <table class="table table-hover table-inverse">
                      <tbody>
                        <% if @active_users.exists? %>
                          <% @active_users.each do |user| %>
                            <tr class="position-relative align-middle">
                              <td><%= image_tag user.get_profile_image(75,75), class: "rounded-circle" %></td>
                              <!-- stretched-linkで枠全体をリンクに-->
                              <td class="align-middle">
                                <%= link_to user_path(user.id), class: "stretched-link text-decoration-none text-dark" do %>
                                  <%= user.name %> さん
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        <% else %>
                          ユーザーはいません。
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- フォロワーモーダル -->
            <div class="modal" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">フォロワーリスト</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <table class="table table-hover table-inverse">
                      <tbody>
                        <% if @passive_users.exists? %>
                          <% @passive_users.each do |user| %>
                            <tr class="position-relative align-middle">
                              <td><%= image_tag user.get_profile_image(75,75), class: "rounded-circle" %></td>
                              <!-- stretched-linkで枠全体をリンクに-->
                              <td class="align-middle">
                                <%= link_to user_path(user.id), class: "stretched-link text-decoration-none text-dark" do %>
                                  <%= user.name %> さん
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        <% else %>
                          ユーザーはいません。
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                  </div>
                </div>
              </div>
            </div>
          <div class="pl-4 flex-row d-flex mt-3 mt-lg-0">
            <div class="pr-3">
              <%= link_to 'リクエスト履歴', user_requests_path(current_user.id), class: "btn btn-outline-secondary" %>
            </div>
            <div class="pr-3">
              <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary" do %>
                <%= icon("fas", "user-cog") %>
              <% end %>
            </div>
            <div>
              <%= link_to new_post_path, class: "btn btn-lg btn-outline-danger" do %>
                <%= icon("fas", "cloud-upload-alt") %> <span>新規投稿</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% unless @user.name == 'ゲスト' %>
      <h5 class="mt-5 mb-3 col-lg-10 mx-auto">投稿一覧</h5>
      <div class="col-md-10 mx-auto"><%= render 'posts/posts_list', posts: @posts %></div>

    <!--ゲストユーザーのページ-->
    <% else %>
      <h5 class="mt-5 mb-3 font-weight-bold">ゲストユーザーとしてログイン中です。</h5>
      <p>ゲストユーザーでは投稿の閲覧と投稿・ユーザー検索のみ可能です。<br>
          気に入った投稿を見つけたら会員登録してユーザーをフォローしてみましょう！</p>
    <% end %>

  <!--他のユーザーのページ-->
  <% else %>
    <div class="mt-4 row col-md-10 mx-auto justify-content-center  bg-light shadow rounded p-4">
      <div>
        <%= image_tag @user.get_profile_image(150, 150), class: "mr-3 rounded-circle" %>
      </div>
      <div class="col-md-3 col-6">
        <h5 class=""><%= @user.name %> さん</h5>

        <div class="  p-3  mt-4 border  rounded-sm bg-white">
          性別：<%= @user.gender_i18n %><br>
          年齢：<%= (Date.today.strftime('%Y%m%d').to_i - @user.birthday.strftime('%Y%m%d').to_i) / 10000 %>歳<br>
          地域：<%= @user.prefecture_i18n %>
        </div>

      </div>
      <div class="col-lg-6 col-md-8 col-12 ml-lg-3">
        <div class="border rounded-lg p-4 bg-white mt-4 mt-lg-0 text-break"><%= @user.introduction %></div>
        <div class="row justify-content-around  align-items-center mt-4">
          <div>
            <div class="pl-3">
              <a href="#" data-toggle="modal" data-target="#exampleModal">
                フォロー: <%= @user.followings.count %>
              </a>
            </div>
            <div class="pl-3">
              <a href="#" data-toggle="modal" data-target="#exampleModal2">
                フォロワー: <%= @user.followers.count %>
              </a>
            </div>
          </div>
            <!-- フォローモーダル -->
            <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">フォローリスト</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <table class="table table-hover table-inverse">
                      <tbody>
                        <% if @active_users.exists? %>
                          <% @active_users.each do |user| %>
                            <tr class="position-relative align-middle">
                              <td><%= image_tag user.get_profile_image(75,75), class: "rounded-circle" %></td>
                              <!-- stretched-linkで枠全体をリンクに-->
                              <td class="align-middle">
                                <%= link_to user_path(user.id), class: "stretched-link text-decoration-none text-dark" do %>
                                  <%= user.name %> さん
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        <% else %>
                          ユーザーはいません。
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- フォロワーモーダル -->
            <div class="modal" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">フォロワーリスト</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <table class="table table-hover table-inverse">
                      <tbody>
                        <% if @passive_users.exists? %>
                          <% @passive_users.each do |user| %>
                            <tr class="position-relative align-middle">
                              <td><%= image_tag user.get_profile_image(75,75), class: "rounded-circle" %></td>
                              <!-- stretched-linkで枠全体をリンクに-->
                              <td class="align-middle">
                                <%= link_to user_path(user.id), class: "stretched-link text-decoration-none text-dark" do %>
                                  <%= user.name %> さん
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        <% else %>
                          ユーザーはいません。
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                  </div>
                </div>
              </div>
            </div>

          <% unless current_user.name == 'ゲスト' %>
            <div class="pl-4">
              <% if current_user.following?(@user) %>
                <%= link_to "フォロー中", user_follows_path(@user.id), class: "btn btn-outline-success", method: :delete %>
              <% else %>
                <%= link_to "フォローする", user_follows_path(@user.id), class: "btn btn-outline-success", method: :post %>
              <% end %>
            </div>
            <div>
              <a href="#" data-toggle="modal" data-target="#requestModal", class="btn btn-outline-primary">リクエストを送る</a>
            </div>
          <% end %>
          <!-- リクエストモーダル -->
          <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">新規リクエスト</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <%= form_with model: @request, url: user_requests_path(params[:id]) do |f| %>
                <div class="form-group">
                  <%= f.label :artist_name, "歌手名" %>
                  <%= f.text_field :artist_name, class: "form-control" %>
                </div>

               <div class="form-group">
                  <%= f.label :song_name, "曲名" %>
                  <%= f.text_field :song_name, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :body, "メッセージ" %>
                  <%= f.text_area :body, class: "form-control" %>
                </div>
                <%= f.submit "送信", class: "btn btn-primary" %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary mt-3" data-dismiss="modal">閉じる</button>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
    <h5 class="mt-5 mb-3 col-md-10 mx-auto">投稿一覧</h5>
    <div class="col-md-10 mx-auto"><%= render 'posts/posts_list', posts: @posts %></div>
  <% end %>
</div>
