<% posts.each do |pos| %>
  <div class="card-wrapper">
    <%= link_to post_show_path(pos.user_id, pos.id), class: "text-dark text-decoration-none" do %>
      <div class="shadow bg-light rounded p-4 pb-5 mt-3" style="min-height: 115px;">
        <div class="row mx-0 justify-content-between">
          <div class="h6">
            <span class="font-weight-bold"><%= pos.song&.song_name %> / <%= pos.song&.artist_name %></span>
          </div>
          <div><%= pos.created_at.strftime('%Y/%m/%d') %>投稿</div>
        </div>
        <% if action_name == "search" %>
          <div class="mb-3"><%= pos.user.name %> さん</div>
        <% end %>
        <% if pos.poster_comment.present? %>
          <div class="my-1 text-break mb-3 d-flex align-items-start"><span class="mr-2 p-1 text-white bg-secondary rounded text-nowrap" style="font-size: 11px;">投稿者コメント</span><%= pos.poster_comment %></div>
        <% end %>
      </div>
    <% end %>
    <!--ユーザーの判定-->
    <% if params[:id] == current_user&.id.to_s %>
      <div class="favorite-link">
        <a href="#" data-toggle="modal" data-target="#exampleModal<%= pos.id %>" ><span class="pr-2"><%= icon("fas", "heart") %></span><%= pos.likes.count %></a>
        <span class="pl-3"><span class="pr-2"><%= icon("far", "comment") %></span><%= pos.post_comments.count %></span>
      </div>
      <div class="config-link mr-2">
        <span class="align-middle" style="font-size: 13px;"><%= pos.open_range_i18n %></span>
        <a href="#" data-toggle="modal" data-target="#configModal<%= pos.id %>", class="btn btn-sm btn-outline-primary ml-2">編集</a>
        <%= link_to "削除", post_path(pos.id), method: :delete, class: "btn btn-sm btn-outline-danger ml-1", data: {confirm: "本当に削除しますか？"} %>
      </div>
      <!--モーダル-->
      <div class="modal" id="exampleModal<%= pos.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">いいね履歴</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <% pos.likes.each do |like| %>
                <div class="ml-4 mb-2">
                  <%= link_to like.user.name, user_path(like.user_id) %> さん
                  <span class="ml-3"><%= like.created_at.strftime('%Y/%m/%d') %></span>
                </div>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="configModal<%= pos.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">投稿曲の編集</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <%= form_with model: pos, url: post_path(pos.id) do |f| %>
                <div class="form-group">
                  <%= f.label :poster_comment, "コメント", class: "col-form-label" %>
                  <%= f.text_area :poster_comment, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :open_range, "公開範囲", class: "col-form-label" %>
                  <%= f.select :open_range, Post.open_ranges.keys.map {|k| [I18n.t("enums.post.open_range.#{k}"), k]}, {},{ class: "form-control"} %>
                </div>
                <%= f.submit "変更", class: "btn btn-primary my-3" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="favorite-link">
        <span class="pr-2"><%= icon("fas", "heart") %></span><%= pos.likes.count %><span class="pl-4"><span class="pr-2"><%= icon("far", "comment") %></span><%= pos.post_comments.count %></span>
      </div>
    <% end %>
  </div>
<% end %>

<% if action_name == "search" %>
  <div class="mt-5 text-center"><%= paginate posts %></div>
<% end %>