<div class="container">
  <div class="row m-0 align-items-center mt-3">
    <ul class="list-unstyled mr-5" >
      <li><%= image_tag @post.user.get_profile_image(100,100) %></li>
      <li><%= @post.user.name %></li>
    </ul>
    <audio src= "<%= "#{@post.audio}" %>"controls="">
  </div>
  <div class="row m-0">
    <div class="mr-5">
      <%= @post.song.song_name %> / <%= @post.song.artist_name %>
    </div>
    <div>
      <%= @post.created_at.strftime('%Y/%m/%d') %> 投稿
    </div>

  </div>

  <div class="mt-3" id="likes">
    <%= render "likes/like" %>
  </div>

  <div class="mt-3">
    <%= @post.poster_comment %>
  </div>
  <div class="mt-3" id="comments_list">
    <%= render 'post_comments/comments_list' %>
  </div>
  <div class="mt-3">
    <%= render 'post_comments/form' %>
  </div>


</div>