<div class="container d-lg-flex">

  <div class="col-lg-7 col-12">
    <div class="row m-0 align-items-center mt-3">
      <div class="mr-5 p-3 ">
        <div><%= image_tag @post.user.get_profile_image(100,100), class: "rounded-circle" %></div>
        <div class="mt-2 text-center"><%= link_to @post.user.name, user_path(@post.user_id) %> さん</div>
      </div>
      <audio src= "<%= "#{@post.audio}" %>"controls="" class="offset-1"></audio>
    </div>

    <div class="rounded shadow bg-light border-dark p-4 mt-4">
      <div class="row m-0">
        <div class="mr-5 h5">
          <%= @post.song.song_name %> / <%= @post.song.artist_name %>
        </div>
        <div>
          <%= @post.created_at.strftime('%Y/%m/%d') %> 投稿
        </div>
      </div>

      <div class="mt-3 ml-2 d-inline-block">
        <%= @post.poster_comment %>
      </div>
      <div class="mt-2 ml-4 d-inline-block" id="likes">
        <% if current_user == @post.user || current_user.id == 7 %>
          <span class="pr-2"><%= icon("fas", "heart") %></span><%= @post.likes.count %>
        <% else %>
          <%= render "likes/like" %>
        <% end %>
      </div>
    </div>


    <div class="mt-5" id="comments_list">
      <%= render 'post_comments/comments_list' %>
    </div>
    <% unless current_user.id == 7 %>
      <div class="mt-3">
        <%= render 'post_comments/form' %>
      </div>
    <% end %>
  </div>

  <div class="col-lg-4 offset-lg-1 col-12">
    <h6 class="mb-4 mb-lg-4 mt-5 mt-lg-4 px-3 py-2  border-bottom border-primary shadow"><%= @post.song.artist_name %>のおすすめ投稿</h6>
    <% unless @posts.empty? %>
      <% @posts.each do |pos| %>
        <div class="border rounded p-4 mt-2 position-relative">
          <div class="h6">
            <%= link_to post_path(pos.id), class: "text-dark text-decoration-none font-weight-bold stretched-link" do %>
              <%= pos.song.song_name %> /
              <%= pos.song.artist_name %>
            <% end %>
          </div>
          <div class="mb-2"><%= pos.created_at.strftime('%Y/%m/%d') %>投稿</div>
          <div>
            <%= pos.user.name %> さん
            <span class="pl-4"><%= icon("fas", "heart") %></span><%= pos.likes.count %></span><span class="pl-4"><span class="pr-2"><%= icon("far", "comment") %></span><%= pos.post_comments.count %>
          </div>
        </div>
      <% end %>
    <% else %>
      <span class="pl-3">あなたへのおすすめはありません。</span>
    <% end %>
  </div>




</div>